<!-- BEGIN: main -->
<link rel="stylesheet" media="screen" type="text/css" href="{NV_BASE_SITEURL}themes/{TEMPLATE}/css/owl.carousel.css" />
<link rel="stylesheet" media="screen" type="text/css" href="{NV_BASE_SITEURL}themes/{TEMPLATE}/css/owl.theme.css" />
<link rel="stylesheet" media="screen" type="text/css" href="{NV_BASE_SITEURL}themes/{TEMPLATE}/css/owl.transitions.css" />
<link rel="stylesheet" media="screen" type="text/css" href="{NV_BASE_SITEURL}themes/{TEMPLATE}/css/owl.get_style.css" />
<script type="text/javascript" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/js/owl.carousel.js"></script>
<script type="text/javascript" src="{NV_BASE_SITEURL}themes/{TEMPLATE}/js/owl.get_carousel.js"></script>
<div class="carousel">
	<div  id="owl-news-new" class="owl-carousel">
		<!-- BEGIN: loop -->
		<div class="clearfix item">
			<!-- BEGIN: img -->
			<a href="{ROW.link}" title="{ROW.title}"><img src="{ROW.thumb}" alt="{ROW.title}" width="{ROW.blockwidth}"/></a>
			<!-- END: img -->
			<a title="{ROW.title}" href="{ROW.link}" >{ROW.title60}</a>
		</div>
		<!-- END: loop -->
	</div>
</div>
<!-- END: main -->